<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Nginx Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        img {
            max-width: 300px;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Name: Josse</p>
    <p>Date: <script>document.write(new Date().toDateString());</script></p>
    <img src="https://www.visit.brussels/nl/bezoekers/_jcr_content/root/container/content_1226746056_c/multicolumn/teaser_2005755142.coreimg.jpeg/1710252500324/palais-royal-de-bruxelles---koninklijk-paleis-te-brussel---royal-palace-of-b.jpeg" alt="Example Image">
</body>
</html>
